<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>SidBlog</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">SidBlog</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Climb_Till_Your _Dream_Comes_True.html"
                >Poems</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Topics
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Technology</a></li>
                <li><a class="dropdown-item" href="#">Web Development</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Support</a></li>
                <li><a class="dropdown-item" href="#">Write for us</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact Us</a>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container mt-4 mb-5">
      <h2 class="text-center">THE FAKE ILLUSION OF DHARMA</h2>
      <blockquote class="blockquote">
        <p class="font-italic text-justified mx-7">
          <em>
            <br />&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I think many of us heard
            the word "Dharma" in many holy books such as Mahabharata and
            Ramayana. But what is the meaning of it. You heard different meaning
            in different verses of different books and your mind sucks what it
            actually it is. Lord Krishna explains Dharma to Arjuna in
            Mahabharata. But it confuses some time, no one can define Dharma
            clearly. Everyone defines Dharma according to their own way. Today I
            am going to discuss with you what my thoughts on it, what I discover
            from it. <br />&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I think Dharma
            is basically our thoughts or our mentality that we have accepted. I
            think I can classify Dharma into two types the first one is that
            whatever thoughts or philosophy a particular group of people
            accepted it is also called as religion of that people and the second
            one is what a particular individual accept means its some time its
            own thoughts or some time it will be someone philosophy. In first
            one it is broadly accepted that we have to behave like our community
            people i.e whatever our community people do we have to do same, also
            we have to do what our religious books said and what our ancestor
            said but second one is based on individual to itself. Humans have
            accepted both Dharma. <br />&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            But why we require Dharma. Dharma controls man from becoming evil.
            You have read in every holy book that we always have to do good
            things, we have to never harm anyone and lot of other things of
            ethics and morality. Also we have read what happen if we harm
            someone or do any misbehave, we heard that god will punish for this
            to us. After many years this thoughts are deeply imbedded in our
            minds and in a great community of people mind, that will fright
            everyone to do misbehave. Our minds own judiciary tells ourselves
            that if we do any misbehave to others he will do same with me. That
            affreightment controls humans from becoming an evil. I think it is
            the best part of our first type of Dharma. The second type of Dharma
            is little bit complicated because we have to find our own Dharma
            i.e. What I believe. In first type of Dharma lot of good things are
            written in holy books but not everyone follow them because of second
            type of Dharma which is related to own individual. What someone
            thoughts it becomes its own Dharma. No religious books teaches us to
            harm someone but we sometime show our power to poor people, this is
            what your religion taught to you. No the first type of Dharma never
            but the second type of Dharma is. <br />&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Moving towards the point some time
            people showoff how their Dharma is great both type of and some time
            their showoff increases to such an extend that they forgot what
            their Dharma is and fight like an evil. Some people criticize
            someone for their religion and showing off how my Dharma is superior
            than your. I think it is an illusion to show how your Dharma is
            great. Everyone's Dharma is great. I think the real Dharma is one
            which connect men to men, create humanity towards society, thinks
            about men's good, help people to create love among them, create an
            intimacy towards nature, animals and to the everyone. If your Dharma
            doesn't teaches you this things then please change your second type
            of Dharma. Do not live in false Dharma, Try to accept everyone as
            its own beauty. In nature you found both Rose and Lotus blooms, Both
            have its own beauty, both blooms on completely different places but
            both are beautiful.<br />&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thank
            you!
          </em>
        </p>
      </blockquote>
      <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>
          © 2020–2021 Sidblog, Inc. · <a href="#">Privacy</a> ·
          <a href="#">Terms</a>
        </p>
      </footer>
    </div>
  </body>
</html>
